*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
}
#three-canvas{
    position: fixed;
    top: 0;
    left: 0;
}
#my-2d-map{
    border: 1px solid red;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 0;
    border-radius: 0px;
    background-color: white;
}
#container2{
    border: 1px solid red;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px;
    background-color: white;
}

.example-label {
    background-color: white;
    padding: 8px;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in;
    z-index: 9999;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
}

.arrow-label {
    background-color: white;
    border-radius: 100%;
    border: 2px solid black;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
