*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
}
body {
    margin: 0px;
}
#three-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

